@font-face {
  font-family: Baunk;
  src: url('../static/assets/fonts/Baunk.ttf');
}

@font-face {
  font-family: Bogam;
  src: url('../static/assets/fonts/Bogam.ttf');
}

@font-face {
  font-family: Canobis-Regular;
  src: url('../static/assets/fonts/Canobis-Regular.otf');
}

@font-face {
  font-family: CRENZO;
  src: url('../static/assets/fonts/CRENZO.ttf');
}

@font-face {
  font-family: GOVER;
  src: url('../static/assets/fonts/GOVER.ttf');
}

@font-face {
  font-family: PleaturesDemo-Outline;
  src: url('../static/assets/fonts/PleaturesDemo-Outline.ttf');
}

@font-face {
  font-family: PleaturesDemo-Regular;
  src: url('../static/assets/fonts/PleaturesDemo-Regular.ttf');
}

@font-face {
  font-family: Wriggle;
  src: url('../static/assets/fonts/Wriggle-Regular.otf');
}

@font-face {
  font-family: Fasthand;
  src: url('../static/assets/fonts/Fasthand-Regular.ttf');
}

@keyframes spinPlanet {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes spinText {
  from {
    transform: translate(-50%,-50%) rotate(0deg);
  }

  to {
    transform: translate(-50%,-50%) rotate(360deg);
  }
}

@keyframes moveImage {
  from {
    transform: translateY(-100%)
  }

  to {
    transform: translateY(1000%)
  }
}

body {
  background: black;
}

.put-center {
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.full-img {
  width: 100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
}
